/* main */

body{
    background-color: rgba(195, 187, 187, 0.3);
}
.main-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;
}

button,
#submit{
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid grey;
    font-size: 15px;
}

#add-book:hover,
button:hover{
    background-color:rgba(171, 169, 169, 0.7);
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 10px;
    font-size: 35px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

#login{
    margin-right: 5px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* main body */
#add-book{
    border: none;
    background-color:rgba(195, 187, 187, 0);
    font-weight: 700;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    
}



.card{
    height: 200px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1em;
    border: 1px solid rgb(87, 81, 84,0.5);
    background-color: rgba(63, 215, 215, 0.2);
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.completed-reading{
    background-color: rgba(23, 223, 70, 0.65);
}

/* footer */

/* Modal & Form */
#modal-title{
    margin-bottom: 0;
    padding-bottom: 0;
}
.form-inactive{
    transform: scale(0);
}

.form-active{
    position: fixed;
    top: 50%;
    left:50%;
    transform: scale(1) translate(-50%,-50%);
    transition: 200ms ease;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(210, 251, 251);;
    z-index: 10;
    max-width: 80%;
}

.form-active > ul > li{
    list-style-type: none;
    text-align: center;
    transform: scale(1.5);
    padding: 20px;
    margin-right: 25px;
}

#pages{
    width: 140px;
}

#submit{
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}


#overlay.overlay-active{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
    transition: 200ms ease;
}

.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}